/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.evtTraite .GH0QVJWCPUB {
	background: gray;
}

.evtPartage .GH0QVJWCPUB {
	background: #FF9F5C;
}

.dateEvt {
	font-weight: bold;
	font-size: 12pt;
}

.jour {
	font-weight: bold;
}

.jourToday {
	background-color: #CCCCCC;
}

.jourFerie {
	color: #903090;
}

.evtPanel {
	overflow: auto;
}

.jetonLabel {
	font-size: 48pt;
}

.tpsRoundLabel {
	font-size: 56pt;
	color: blue;
}

.tpsTotalLabel {
	font-size: 10pt;
}

.blindLabel {
	font-size: 64pt;
	font-weight: bold;
	color: red;
}

.ulPli {
	list-style: disc;
	margin-left: 20px;
}

.olPli {
	list-style: decimal;
	margin-left: 20px;
}

.imageClickable:hover {
	cursor: pointer;
}

.infoMsg {
	font-weight: bold;
	color: #00AA00;
}

.planifSamedi {
	background-color: #FFA050;
}

.planifDimanche {
	background-color: #FF8000;
}

.planifMois {
	background-color: #C8BFE7;
	text-align: center;
	font-weight: bold;
}

.fieldLabel {
	text-align: right;
}

.field {
	text-align: left;
}

.titreTache {
	text-align: center;
	font-weight: bolder;
}

ul {
	list-style-type: none;
	margin: auto;
}

.txtArea .GCGCW0WDKW {
	font-family: Courier New;
}
